html {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 100px;
	width: 100%;
	margin: 0;
}
main {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
	justify-content: center;
	background-color: #246da5;
}
#words-table-container {
	display: flex;
	background-color: #246da5;
	width: auto;
	justify-content: center;
	overflow: auto;
	scrollbar-color: black white;
	overflow-x: hidden;
}
#words-table {
	background-color: white;
	font-size: 1.3em;
}
.words-table-cell {
	border: 2px solid black;
	padding: 10px;
}
.del-button {
	text-align: center;
}
.state-button {
	text-align: center;
}
.del-button:hover {
	background-color: grey;
	cursor: pointer;
}
.state-button:hover {
	background-color: grey;
	cursor: pointer;
}
#viewer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	overflow: auto;
	background-color: #246da5;
	scrollbar-color: black white;
}
.viewer-message {
	white-space: pre-wrap;
	line-break: anywhere;
	background-color: white;
	padding: 15px;
	margin: 15px;
	width: auto;
	border-radius: 25px;
}
#controller {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	overflow: auto;
	background-color: #246da5;
	scrollbar-color: black white;
}
.controller-message {
	margin: 15px;
	padding: 15px;
	background-color: white;
	width: auto;
	border-radius: 25px;
}
.remove-button {
	margin-left: 15px;
	margin-right: 5px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: white;
	width: auto;
	border-radius: 25px;
	font-size: 1.2em;
}
.accept-button {
	padding: 15px;
	background-color: white;
	width: auto;
	border-radius: 25px;
	font-size: 1.3em;
}
.remove-button:hover {
	background-color: red;
}
.accept-button:hover {
	background-color: green;
}