<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/styles.css">
		<link rel="icon" type="image/ico" href="static/index.ico">
		<script type="text/javascript" src="static/index.js"></script>
		<title>navbow controler</title>
	</head>
	<body onload="initController();">
		<header>
			<div id="clock"></div>
		</header>
		<main>
			<div id="viewer">
				{% for view in history.get("views",[]) %}
					<pre class="viewer-message">{{ view }}</pre>
				{% end %}
			</div>
			<div id="controller">
				{% for control in history.get("controls",[]) %}
					<div class="controller-message">{{ control }}<button class="remove-button">-</button><button class="accept-button">+</button>
					</div>
				{% end %}
			</div>
		</main>
	</body>
</html>