main {
	display: flex;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	/*align-content: center;*/
	justify-content: center;
	/*text-align: center;*/
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 100px;
}
#clock-size-increment {
	margin-right: 2em;
	font-size: .7em;
	border: none;
	background-color: white;
}
#clock-size-increment:hover {
	color: red;
}
#clock-size-decrement {
	margin-left: 2em;
	font-size: .7em;
	border: none;
	background-color: white;
}
#clock-size-decrement:hover {
	color: red;
}
#viewer {
	border: 2px solid blue;
	width: 50%;
	height: 100%;
}
#controller {
	border: 2px solid green;
	width: 50%;
	height: 100%;
}